# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Editor/IDE
.idea/
.vscode/

.DS_Store

# 1. 데이터베이스
*.db
*.sqlite
*.sqlite3
reviews.db

# 2. 실행 파일
myserver
*.exe
*.o

# 3. 환경설정 및 비밀키
*.env

# 4. 시스템 설정 파일
*.service
