/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
}

/* Base style */
body {
    font-family:
        "Pretendard",
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        sans-serif;
    background-color: #eaebef;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
}

/* Layout */
.container {
    background: white;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    box-sizing: border-box;
}

h1 {
    color: #111;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    letter-spacing: -1px;
}

.description {
    text-align: center;
    color: #555;
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
}

label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
    margin-top: 1.5rem;
}

input,
textarea {
    width: 100%;
    padding: 18px;
    margin: 0 0 10px 0;
    border: 2px solid #888;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 1.2rem;
    background-color: #fff;
    transition: all 0.3s ease;
    -webkit-appearance: none;
    appearance: none;
}

input:focus,
textarea:focus {
    border-color: #4285f4;
    outline: none;
    box-shadow: 0 0 0 4px rgba(66, 133, 244, 0.2);
}

::placeholder {
    color: #999;
}

button {
    width: 100%;
    padding: 20px;
    margin-top: 2rem;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    box-shadow: 0 4px 6px rgba(66, 133, 244, 0.3);
}

button:hover {
    background-color: #2a65c9;
}

.button-link {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: #666;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-size: 1.3rem;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 20px;
}

.button-link:hover {
    background-color: #444;
}

@media (max-width: 768px) {
    body {
        background-color: white;
        align-items: flex-start;
        padding: 0;
    }

    .container {
        width: 100%;
        max-width: 100%;
        height: 100vh;
        min-height: 100vh;

        border-radius: 0;
        box-shadow: none;

        padding: 20px;
        margin: 0;
    }

    h1 {
        margin-top: 1rem;
    }
}
